<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ESP Manage</title>
    {% load static %}

    <link href="{% static 'bs5/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'aw/all.min.css' %}" rel="stylesheet">
    <link href="{% static 'esp_key_custom.css' %}" rel="stylesheet">
    <script src="{% static 'aw/all.min.js' %}" rel="script"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@3.3.4/dist/vue.global.min.js"></script>

 <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

</head>
<body>
{% verbatim %}

<main id="app">
    <div v-for="esp in esp_list" class="container border-0 border-top border-primary mt-2">
        <div class="d-flex">
            <h5 class="position-absolute">{{ esp.name }}</h5>
            <span class="w-100"></span>
            <i class="fas fa-circle my-auto" :style="esp.is_connected ? 'color: aquamarine;' : 'color: orangered;' "></i>
        </div>
        <hr>
        <div class="row m-0">
            <div v-for="key in esp.keys" class="col-xm-12 col-md-2 d-md-flex d-sm-block px-1 mb-2 mb-md-0 position-relative">
                <div class="w-100 d-md-block d-sm-flex p-2 rounded border border-primary">
                    <div class="d-flex w-100">
                        <h6 class="w-100">{{ key.name }}</h6>
                        <span class="w-100"></span>
                        <span class="esp_key_timerange_info"> 12 den / e</span>
                        <div v-if="key.use_time_range" class="esp_key_timerange">
                            <i  class="fa-regular fa-clock me-2"></i>
                        </div>
                        <i v-if="key.current" class="fa-solid fa-lightbulb text-warning"></i>
                        <i v-else class="fa-regular fa-lightbulb"></i>
                    </div>

                    <div class="my-auto w-100 text-end text-md-center d-flex">
                        <button :class="[key.current ? 'btn-danger' : 'btn-success', 'btn', 'btn-sm', 'col']" type="button" @click="send_key_change_status(key.id, key.current)">
                            {{ key.current ? 'Kapat' : 'Aç' }}
                        </button>
                    </div>
                    </div>
            </div>
        </div>
    </div>
</main>

{% endverbatim %}

<script>

new Vue({
    el:'#app',
    data:{
        connection: null,
        esp_list: []
    },
    methods: {
        send_key_change_status(key_id, status){
            this.connection.send(JSON.stringify({
                "type":"change_key_status_request",
                "key_id":key_id,
                "status":!status
            }))
        }
    },

    created: function() {
    var vm = this; // Store reference to the Vue instance

    console.log("Starting connection to WebSocket Server")
    var origin = document.location.origin.replace("https","wss").replace("http","ws")
    console.log(origin)
    {#this.connection = new WebSocket(origin+ "/ws/communication/user/")#}
    this.connection = new WebSocket(origin + "/ws/communication/user/")

    this.connection.onmessage = function(event) {
        console.log(event)

        var data = JSON.parse(event.data)
        console.log(data.esp_list)
        vm.esp_list = data.esp_list
        }

    this.connection.onopen = function(event) {
      console.log(event)
      console.log("Successfully connected to the echo websocket server...")
    }
  }
});
</script>
</body>
</html>