<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>PARS | AUTH 2</title>
    {% include 'statics.html' %}
</head>
<body>
<section class="py-4 py-xl-5" style="background: url('https://res.cloudinary.com/dlusw5ukg/image/upload/v1678715784/portfolyo/page/login/fabrizio-conti-D9DTfAqxcC8-unsplash_d7vb6z.jpg') no-repeat center;background-size: cover!important;height: 100vh">
        <div class="container">
            <div class="row mb-5">
                <div class="col-md-8 col-xl-6 text-center mx-auto">
                    <h2>PARS | AUTH 2</h2>
                    <p>Curae hendrerit donec commodo hendrerit egestas tempus, turpis facilisis nostra nunc. Vestibulum dui eget ultrices.</p>
                </div>
            </div>
            <div class="row d-flex justify-content-center">
                <div class="col-md-6 col-xl-4">
                    <div class="card mb-5" style="position: relative;background: transparent!important;border: 2px solid rgba(255,255,255,0.53);border-radius: 20px;backdrop-filter: blur(3px);-webkit-backdrop-filter: blur(3px);">
                        <div class="card-body d-flex flex-column align-items-center" style="/*background: transparent!important;*/">
                            <div class="bs-icon-xl bs-icon-circle bs-icon-semi-white bs-icon my-4"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-person">
                                    <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"></path>
                                </svg></div>
                            <form class="text-center" method="post" style="/*background: transparent!important;*/">
                                {% csrf_token %}
                                <div class="mb-3">
                                    <input class="form-control" type="text" name="username" placeholder="username" autofocus="" autocapitalize="none" autocomplete="username" maxlength="150" required="">
                                </div>
{#                                <input type="text" name="username" autofocus="" autocapitalize="none" autocomplete="username" maxlength="150" required="" id="id_username" class="form-control">#}
                                <div class="mb-3"><input class="form-control" type="password" name="password" placeholder="Password"></div>
                                <div class="mb-3">
                                    <button class="btn btn-primary d-block w-100" type="submit">Login</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>