<nav class="navbar navbar-light navbar-expand-md">
    <div class="container-fluid">
        <div class="container d-flex"><a class="navbar-brand" href="#">SMART HOME</a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="navbar-nav">
                    <li class="nav-item"></li>
                </ul>
            </div>
<div class="nav-link dropdown">
    <a class="mt-2 text-decoration-none" aria-expanded="true" data-bs-toggle="dropdown" href="#" style="content: none;color: var(--bs-dark);">

        <img class="rounded-circle d-inline-block" size="cover" src="https://github.com/f4ruk-seker.png" width="36" height="36">

        <strong class="ms-2 fw-bold">pars</strong>
    </a>
    <div class="dropdown-menu" data-bs-popper="static">
        <a class="dropdown-item" href="{% url 'admin:index' %}">Admin</a>
        <a class="dropdown-item" href="{% url 'admin:logout' %}">LogOUT</a>
    </div>
</div>
        </div>
    </div>
</nav>